* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.first_page {
  background: url("/img/Model-3-Main-Hero-Desktop-LHD.jpg") no-repeat center
    center/cover;
  height: 110vh;
  color: #fff;
}

.container {
  display: flex;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 120px;
  height: 24px;
  margin: 15px 20px;
}

.main_navbar {
  list-style: none;
  margin: 15px 20px;
}

li {
  display: inline;
  margin: 10px auto;
  padding: 5px 10px;
}

.right_navbar {
  list-style: none;
  margin: 15px 20px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_main h1 {
  font-size: 40px;
  margin-top: 40px;
  font-weight: 600;
}

.first_main a {
  color: rgb(255, 255, 255, 0.8);
  font-size: 14px;
  margin-top: 10px;
}

.details {
  display: flex;
  justify-content: space-around;
  padding: 15px 20px;
  margin-top: 315px;
  font-size: 12px;
  width: 540px;
}

.details .heading {
  font-size: 24px;
  display: inline;
}

.mph p,
.mi-range p,
.price p {
  margin-top: 15px;
  font-weight: 500;
}

.unitOfMeasurement {
  font-size: 20px;
}

.details sup,
footer sup {
  font-size: 12px;
}

.mph img {
  width: 28px;
  height: 28px;
}

.first_page .mi-range {
  text-align: center;
}

.buttons .btn {
  width: 235px;
  padding: 9px 30px;
  margin-inline: 10px;
  margin-top: 22px;
  border: 3px solid #fff;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
}

.buttons .primary {
  background-color: #fff;
}

.buttons .primary:hover {
  background-color: rgb(226, 227, 227);
}

.buttons .secondary {
  background-color: transparent;
  color: #fff;
}

.buttons .secondary:hover {
  background-color: #fff;
  color: black;
}

footer {
  font-size: 12px;
  font-weight: 400;
  margin-top: 40px;
}

.second_page {
  height: 150vh;
  background-color: #fff;
  color: #393c41;
  display: flex;
  justify-content: center;
}

.second_page img {
  width: 900px;
  height: 600px;
  margin: 10px auto;
  display: block;
}

.second_main {
  max-width: 1050px;
}

.second_page p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.second_main > p {
  margin-top: 20px;
  line-height: 20px;
}

.second_page h1 {
  font-size: 28px;
  line-height: 20px;
}

.second_page h1 h2 {
  color: #171a20;
}

.second_page h2 {
  font-size: 14px;
}

.second_page p a {
  color: #393c41;
}

.evaluations {
  display: flex;
  margin-top: 20px;
}

.evaluations div {
  flex: 1;
}

.third_page {
  height: 80vh;
  background: url(img/Model-3-Range-Hero-Desktop-NA.jpg) no-repeat center
    center/cover;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.third_page > div {
  margin-left: 60px;
}

.third_page .heading {
  font-size: 24px;
  display: inline;
}

.third_page p {
  font-size: 12px;
  font-weight: 500;
}
